<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<body>

<h4>Dear <span th:text="${name}"></span>,</h4><br/>
<p>
    We extend a warm welcome to you as a valued member of our team at Dride.
    We are thrilled to have you on board as our driver, and we believe that
    your expertise and skills will greatly contribute to our company's growth.
</p>
<p>
    This is an exciting time for us as we continue to expand and make strides
    in our industry, and we are honored to have you join us on this journey.
    We are eager to collaborate with you and leverage your talents to drive
    Dride's success to new heights.
</p>
<p>
    To get started, kindly on click
    <a th:href="@{{url}(url=${verifyUrl})} " target="_blank"
       style="text-decoration: none;">
        <button style="display: inline-block;
        padding: 8px 15px;
        background-color: #3cd718;
        color: white;
        border-width: 3px;
        border-color: #0ca2bc;
        border-style: solid;
        border-radius: 7px;
        cursor: pointer;">
            Activate
        </button>
    </a> button to enable your account and gain access to our systems. We are confident that your
    addition to our team will make a positive impact, and we eagerly anticipate working
    together towards our shared goals.
</p>
<p>
    Once again, welcome to Dride, and we are excited to have you on our team!<br/><br/>
    Best regards,<br/>
</p>
<p>
    Deborah Sultan<br/>
    HR & Talent Manager<br/>
</p>
</body>
</html>